



.App-link {
  color: #61dafb;
}

/* Search */
.search {
  margin: 0 auto;
  padding: 40px;
  max-width: 1000px;
}

.form {
  display: grid;
}

.label {
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.input {
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.button {
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 1.4rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 250ms;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

/* Results */
.card-list {
  margin-top: 4rem;
}

.card {
  margin-bottom: 3rem;
  padding: 2rem 4rem 160px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  background-position: top, center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-copy {
  /* max-width: 70%; */
  padding-right: 5%;
}

.card--content {
  display: flex;
  position: relative;
  top: 120px;
  padding: 2rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
}

.card--title {
  margin-bottom: 0.5rem;
  font-size: 3.2rem;
}

.card--image {
  width: 185px;
  height: 278px;
}
